<div class="full-screen" style="display: flex;flex-flow: row;">
    <div class="container left_part">
      <nav class="navbar navbar-light">
        <a routerLink="" class="navbar-brand">
          <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Pokr
        </a>
      </nav>
      <div class="container" style="padding-top: 20px;">
        <div class="row align-center"><span style="font-weight: 300;font-size: 2.5rem;">Reset password</span></div>
        <form (ngSubmit)="reset()">
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password..." required>
          </div>
          <div class="form-group">
            <label for="confirm">Confirm Password</label>
            <input type="password" class="form-control" id="confirm" placeholder="Confirm..." required>
          </div>
          <div class="form-group text-xs-center" style="padding-top: 10px;">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="container hidden-md-down" style="background: #21b2fe">
      <nav class="navbar navbar-dark" style="color: #ffffff !important;">
        <span class="navbar-text float-xs-right">
          Remember your password?
          <a routerLink="/login" style="color: #ffffff !important;" class="btn btn-outline-success">Login</a>
        </span>
      </nav> 
    </div>
  </div>