<div class="full-screen" style="display: flex;flex-flow: row;">
    <div class="container left_part">
      <nav class="navbar navbar-light">
        <a routerLink="" class="navbar-brand">
          <img src="assets/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
          Pokr
        </a>
      </nav>
      <div class="container" style="padding-top: 20px;">
        <div class="row align-center"><span style="font-weight: 300;font-size: 2.5rem;">Forgot password</span></div>
        <form (ngSubmit)="forgot()">
          <div class="form-group">
            <label for="companyName">Email</label>
            <input type="email" class="form-control" id="companyName" placeholder="Enter your email..." required>
          </div>
          <div class="form-group text-xs-center" style="padding-top: 10px;">
            <button type="submit" class="btn btn-success">Submit</button>
          </div>
          <div class="form-group text-xs-center">
            <span>Remember your password? <a routerLink="/login">Login</a></span>
          </div>
        </form>
        <div class="alert alert-success" role="alert" style="text-align: center;margin-top: 15px;" *ngIf="showMessage">
          Reset link sent to {{email}}
        </div>
      </div>
    </div>
    <div class="container" style="background: #21b2fe">
      <nav class="navbar navbar-dark" style="color: #ffffff !important;">
        <span class="navbar-text float-xs-right">
          Remember your password?
          <a routerLink="/login" style="color: #ffffff !important;" class="btn btn-outline-success">Login</a>
        </span>
      </nav>
    </div>
  </div>